[submodule "software/glicko2"]
	path = software/glicko2
	url = https://github.com/sublee/glicko2
[submodule "software/analytic-bayesian-linear-regression"]
	path = software/analytic-bayesian-linear-regression/
	url = git@github.com:glandfried/analytic-bayesian-linear-regression.git
[submodule "doc/tex"]
	path = doc/aux/tex
	url = git@github.com:glandfried/tex.git
[submodule "doc/images"]
	path = doc/aux/images
	url = git@github.com:glandfried/images.git
[submodule "software/trueskill"]
	path = software/skill
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/trueskill.git
[submodule "software/ablr"]
	path = software/ablr
	url = git@github.com:glandfried/analytic-bayesian-linear-regression.git
[submodule "software/ttt"]
	path = software/ttt
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/trueskill.git
[submodule "software/trueskill.py"]
	path = software/trueskill.py
	url = git@github.com:glandfried/trueskill.py.git
[submodule "software/whole_history_rating"]
	path = software/whole_history_rating
	url = git@github.com:glandfried/whole_history_rating.git
[submodule "software/trueskill.jl"]
	path = software/trueskill.jl
	url = git@gitlab.licar.exp.dc.uba.ar:gaming/trueskill.jl.git
[submodule "software/ttt.jl"]
	path = software/ttt.jl
	url = git@github.com:glandfried/TrueSkillThroughTime.jl.git
